In [1]:
import pandas as pd

combining all three datasets into one

In [14]:
datafile_AMT = '../data/MTurk_anonymous.xlsx'
datafile_DTU1 = '../data/DTU1_anonymous.xlsx'
datafile_DTU2 = '../data/DTU2_anonymous.xlsx'

df_AMT = pd.DataFrame(pd.read_excel(datafile_AMT))
df_DTU1 = pd.DataFrame(pd.read_excel(datafile_DTU1))
df_DTU2 = pd.DataFrame(pd.read_excel(datafile_DTU2))

df_AMT['exp'] = "AMT"
df_DTU1['exp'] = "DTU1"
df_DTU2['exp'] = "DTU2"

df_AMT = df_AMT.loc[:, ~df_AMT.columns.str.contains('^Unnamed')]
df_DTU1 = df_DTU1.loc[:, ~df_DTU1.columns.str.contains('^Unnamed')]
df_DTU2 = df_DTU2.loc[:, ~df_DTU2.columns.str.contains('^Unnamed')]

df_AMT

,session,code,group,id_in_group,round,arrival,choice,certainty,bonus,strategy,simple,cutoff,fault,payoff,exp
0,0c0pdasz,zh74wr23,2,1,1,8.2,1,0.875,-0.13,NaN,NaN,NaN,NaN,7.89,AMT
1,0c0pdasz,w73mxa5y,2,2,1,8.3,1,0.875,-0.13,NaN,NaN,NaN,NaN,4.66,AMT
2,0c0pdasz,zh74wr23,2,1,2,8.2,0,0.500,-1.39,NaN,NaN,NaN,NaN,7.89,AMT
3,0c0pdasz,w73mxa5y,2,2,2,8.1,1,0.875,-4.16,NaN,NaN,NaN,NaN,4.66,AMT
4,0c0pdasz,zh74wr23,2,1,3,8.2,1,0.990,-0.01,NaN,NaN,NaN,NaN,7.89,AMT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4255,ybswalgq,knq16izk,25,2,1,8.5,1,0.500,-0.69,NaN,NaN,NaN,NaN,0.00,AMT
4256,ybswalgq,mb48zvcj,25,1,2,8.2,1,0.990,-0.01,NaN,NaN,NaN,NaN,0.77,AMT
4257,ybswalgq,knq16izk,25,2,2,8.3,1,0.500,-0.69,NaN,NaN,NaN,NaN,0.00,AMT
4258,ybswalgq,mb48zvcj,25,1,3,9.0,0,0.990,-9.21,"I used the wrong one, I should have been more ...",1.0,8.4,3.0,0.77,AMT
4259,ybswalgq,knq16izk,25,2,3,8.5,1,0.990,-9.21,I went with the strategy of what I thought my ...,1.0,8.0,2.0,0.00,AMT

In [15]:
df_DTU1

,session,code,group,id_in_group,round,arrival,choice,certainty,bonus,strategy,simple,cutoff,fault,payoff,exp
0,skcucks5,luykbvrv,2,1,1,8.1,1,0.99,-0.01,NaN,NaN,NaN,NaN,0.35,DTU1
1,skcucks5,4vnbdkgv,2,2,1,8.2,1,0.99,-0.01,NaN,NaN,NaN,NaN,7.32,DTU1
2,skcucks5,luykbvrv,2,1,2,8.2,1,0.99,-0.01,NaN,NaN,NaN,NaN,0.35,DTU1
3,skcucks5,4vnbdkgv,2,2,2,8.3,1,0.99,-0.01,NaN,NaN,NaN,NaN,7.32,DTU1
4,skcucks5,luykbvrv,2,1,3,8.3,1,0.99,-0.01,NaN,NaN,NaN,NaN,0.35,DTU1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2155,skcucks5,0iusd3w7,57,2,28,8.1,1,0.99,-0.01,NaN,NaN,NaN,NaN,0.01,DTU1
2156,skcucks5,86wga0kd,57,1,29,8.4,1,0.99,-0.01,NaN,NaN,NaN,NaN,8.79,DTU1
2157,skcucks5,0iusd3w7,57,2,29,8.5,1,0.99,-0.01,NaN,NaN,NaN,NaN,0.01,DTU1
2158,skcucks5,86wga0kd,57,1,30,8.4,1,0.99,-0.01,"Consistent, always canteen 8:50 and earlier.",1.0,8.5,NaN,8.79,DTU1
2159,skcucks5,0iusd3w7,57,2,30,8.5,1,0.99,-0.01,Always very certain of office unless arrive 9....,1.0,8.5,NaN,0.01,DTU1

In [19]:

df = df_AMT
df = df.append(df_DTU1)
df = df.append(df_DTU2)
df

,session,code,group,id_in_group,round,arrival,choice,certainty,bonus,strategy,simple,cutoff,fault,payoff,exp
0,0c0pdasz,zh74wr23,2,1,1,8.2,1,0.875,-0.13,NaN,NaN,NaN,NaN,7.89,AMT
1,0c0pdasz,w73mxa5y,2,2,1,8.3,1,0.875,-0.13,NaN,NaN,NaN,NaN,4.66,AMT
2,0c0pdasz,zh74wr23,2,1,2,8.2,0,0.500,-1.39,NaN,NaN,NaN,NaN,7.89,AMT
3,0c0pdasz,w73mxa5y,2,2,2,8.1,1,0.875,-4.16,NaN,NaN,NaN,NaN,4.66,AMT
4,0c0pdasz,zh74wr23,2,1,3,8.2,1,0.990,-0.01,NaN,NaN,NaN,NaN,7.89,AMT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1007,px95dqer,jghl3ft6,27,2,28,8.3,1,0.990,-0.01,NaN,NaN,NaN,NaN,0.00,DTU2
1008,px95dqer,fihx7944,27,1,29,9.0,0,0.750,-2.77,NaN,NaN,NaN,NaN,1.67,DTU2
1009,px95dqer,jghl3ft6,27,2,29,8.5,1,0.990,-9.21,NaN,NaN,NaN,NaN,0.00,DTU2
1010,px95dqer,fihx7944,27,1,30,9.0,0,0.750,-2.77,Only choosing office if I arrived at 9:00 or 9:10,1.0,6.0,3.0,1.67,DTU2
1011,px95dqer,jghl3ft6,27,2,30,8.5,1,0.875,-4.16,"Well, that's sad",1.0,8.5,3.0,0.00,DTU2

In [22]:
df.to_excel("../Data/data.xlsx") 
df.to_csv('../Data/data.csv')